.header {
  padding: 8px 0 28px 0;
}

.candidate-list {
  margin-bottom: 100px;
}

.candidate-card {
  margin-bottom: 28px;
}

.candidate-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.candidate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 32px;
}

.candidate-info h2 {
  margin: 10px 0 0 0;
}

.candidate-info p {
  margin: 5px 0;
  font-size: 30px;
  color: #00e2e6;
}