.header {
  padding: 8px 0 28px 0;
}

.candidate-list {
  margin-bottom: 100px;
}

.candidate-card {
  margin-bottom: 28px;
}

.candidate-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.candidate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 32px;
}

.candidate-info h2 {
  margin: 16px 0 0 0;
  font-size: 18px;
}

.candidate-info p {
  margin: 4px 0 0 0;
  font-size: 16px;
  color: #9CABBA;
}

.btn-screen{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.blue-btn{
  background-color: #0A61C2;
  color: #fff;
  border: none;
  padding: 12px;
  width: 80%;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 5%;
}