.container {
  max-width: 450px;
  margin: 0 auto;
}

.complete-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.complete-header__title {
  font-size: 18px;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.complete-info {
  text-align: center;
  margin-top: 45px;
}

.complete-info h2 {
font-size:  32px;
font-weight: bold;
margin-top: 24px;
margin-bottom: 12px;
}

.complete-info p {
font-size:  16px;
margin-bottom: 24px;
}

.btn-section {
  display: flex;
  justify-content: center;
  text-align: center;
}

.top-button{
  background-color: #0A61C2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 12px;
  width: 163px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  text-align: center;
  text-decoration: none;
  position: fixed;
  justify-content: center;
}

.top-button:hover {
  background-color: #005bb5;
}