.login-page {
  height: 80vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
}

.login-form__group {
  position: relative;
  margin-bottom: 20px;
}

.login-form__input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

.login-form__submit {
  width: 100%;
  padding: 18px;
  background-color: #0A61C2;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  font-weight:bold;
  cursor: pointer;
}

.login-footer {
  margin: 40px 0;
  font-size: 16px;
  color: #9CABBA;
}

.top-button {
  background-color: #0A61C2;
  color: #fff;
  border: none;
  padding: 18px;
  width: 40%;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight:bold;
  text-decoration: none;
  text-align: center;
}

.top-button:hover {
  background-color: #005bb5;
}